@import "tailwindcss";
body{ 
    background-color: black;
}
.con {
    background-color: #03fcec;
}
@media (max-width: 640px) {
    .con {
      width: 95vw;
      padding: 10px;
    }
    .add-todo {
      flex-direction: column;
      gap: 10px;
    }
    .add-todo button {
      width: 100%;
    }
  }